@charset "utf-8";
/* <style> */


/* *{
    margin: 0px;
    padding: 0px;
    
} */
#app{
    width: 500px;
    height: 400px;
    /* background:blue; */
    margin: 150px auto;
    padding: 0px;
    /* border:solid 1px black; */
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 5px 20px 5px lightgray;
}
#p{
    width: 500px;
    height: 130px;
    /* background:red; */
    margin:0px;
    padding: 0px;
    line-height: 140px;
    text-align: center;
    font-size:30px;
    
}
.input{
    width:70%;
    position: absolute;
    top:140px;
    left: 75px;
    
}

.checkbox{
    position: absolute;
    top:255px;
    left: 75px;
}
.submit{
    width:70%;
    position: absolute;
    top: 290px;
    left: 75px;

}
.footer{
    
    text-align: center;
    font-size:10px;
    line-height: 25px;
    position: absolute;
    top:353px;
    left: 188px;

    
}
/* </style> */