*{
	margin: 0px;
	padding: 0px;
}
#app{
	margin: 10px;
}
.header{
	width: 100%;
	line-height: 60px;
}
.header .input{
	margin-left: 20px;
	float: left;
}
.header .searchoffice{
	float: left;
	margin-left: 50px;
}
.header .addoffice{
	float: left;
	margin-left: 50px;
}
.main .tableback{
	background-color: #f3f3f3;
}
.main .page{
	text-align: center;
}