<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <div style="margin-bottom: 20px;">
      <el-button
        size="small"
        @click="addTab(editableTabsValue)"
      >
        add tab
      </el-button>
    </div>
    <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
      <el-tab-pane
        v-for="(item, index) in editableTabs"
        :key="item.name"
        :label="item.title"
        :name="item.name"
      >
        {{item.content}}
      </el-tab-pane>
    </el-tabs>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
              editableTabsValue: '3',
              editableTabs: [{
                title: 'Tab 1',
                name: '1',
                content: '<div v-show="isshow">商品名称：<input type="text" v-model="newname"/><br />商品价格：<input type="text" v-model="newprice"/><button @click="save">保存</button><button @click="isshow=false">取消</button></div>'
              }, {
                title: 'Tab 2',
                name: '2',
                content: 'Tab 2 content'
              }],
              tabIndex: 2
          },
          methods: {
            addTab(targetName) {
              let newTabName = ++this.tabIndex + '';
              this.editableTabs.push({
                title: 'New Tab'+this.tabIndex,
                name: newTabName,
                content: 'New Tab content'
              });
              this.editableTabsValue = newTabName;
            },
            removeTab(targetName) {
              let tabs = this.editableTabs;
              let activeName = this.editableTabsValue;
              if (activeName === targetName) {
                tabs.forEach((tab, index) => {
                  if (tab.name === targetName) {
                    let nextTab = tabs[index + 1] || tabs[index - 1];
                    if (nextTab) {
                      activeName = nextTab.name;
                    }
                  }
                });
              }
              
              this.editableTabsValue = activeName;
              this.editableTabs = tabs.filter(tab => tab.name !== targetName);
            }
          }
    })
  </script>
</html>