<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="./css/login.css"  >
  <title>东软云医院HIS系统</title>
</head>
<body>
  <div id="app"  @keyup.enter="checkup()" >
      <div id="p">
          系统登录
      </div>
      <el-input v-model="input" placeholder="请输入用户名" class="input" ></el-input>
      <el-input v-model="pwd" placeholder="请输入密码"  class="input" style="top:200px" show-password></el-input>
      <template>
        <!-- `checked` 为 true 或 false -->
        <el-checkbox v-model="checked" class="checkbox">记住密码</el-checkbox>
      </template>
      <el-button type="primary" @click="checkup()" class="submit">
            立即登录
      </el-button>
      <div class="footer">
          <b>&copy;2020&nbsp;爱摸小猫咪队</b>
      </div>
      <!-- <div class="input">
          
      </div>
      <div>
          <el-input v-model="input" placeholder="请输入密码"></el-input>
      </div>
      <div class="checkbox">
            
      </div>
      <div class="submit">
        <el-button type="primary" @click="onSubmit">立即创建</el-button>
      <!-- </div> --> 
    
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
          user:[{name:"root",password:"root"},{name:"cjw",password:"cjw123456"},
                {name:"ncf",password:"ncf123456"}],
          input:"",
          pwd:"",
          checked: false,
          isflag:false
      },
	  mounted:function(){
	  			this.init()
	  },
      methods:{
		  init:function(){
			  if(this.$cookies.get("rempsd")=="1"){
				  this.checked=true
				  this.input=this.$cookies.get("user")
				  this.pwd=this.$cookies.get("pwd")
			  }
		  },
		  open:function(str){
			  this.$message(str)
		  },
          checkup:function(){
                if(this.input=="")
                {
                    this.open("用户名不能为空！请重新输入")
                    return 
                }
                if(this.pwd=="")
                {
                    this.open("密码不能为空！请重新输入")
                    return 
                }
                for(let i in this.user)
                {
                    let u=this.user[i]
                    if(u.name==this.input){
                        if(u.password==this.pwd)
                        {
                            this.isflag=true
                            window.location.href="index.html"
							this.$cookies.set("islogin",this.input,"30MIN")
							if(this.checked){
								this.$cookies.set("rempsd","1","30d") 
								this.$cookies.set("user",this.input,"30d")
								this.$cookies.set("pwd",this.pwd,"30d")
							}else{
								this.$cookies.remove("rempsd")
							}
                            return 
                        }
                        if(u.password!=this.pwd)
                        {
                            this.open('密码输入错误！请重新输入');
                            return 
                        }
                    }  
                }
                if(this.isflag==false) 
                {
					this.open('该用户不存在！请重新输入');
                    return 
                }  
                
          }
      }
    })
   
  </script>
</html>