<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div id="box">
        <table border="1px" cellspacing=0 cellpadding=10>
            <thead>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品数量</th>
                <th>总价</th>
                <th>操作</th>
            </thead>
            <tbody >
                <tr v-for="(g,index) in goods">
                    <td>{{g.name}}</td>
                    <td>{{g.price}}</td>
                    <td>
                        <button @click="g.num<10?g.num+=1 : g.num" >+</button>
                        <!-- <input type="number" max="100" min="0" v-model="g.num" size=3 readonly="readonly"> -->
                        <input type="text" v-model="g.num" size=3 readonly="readonly">
                        <button @click="g.num>1?g.num-=1 : g.num"  >-</button>
                    </td>
                    <td>{{g.num*g.price}}</td>
                    <td>
                        <button @click="updataFun(index)">
                            修改
                        </button>
                        <button @click="delFun(index)">
                            删除
                        </button>
                    </td>
                </tr>
                <tr >
                    <td colspan="3">合计：</td>
                    <td>{{result}}</td>
                    <td></td>
                </tr>
                
            </tbody>
            
        </table>
        <div v-show="isShow">
            商品名称：<input type="text" v-model="newname">
            <br>
            商品价格：<input type="text"  v-model="newprice">
            <button @click="saveUpdata()">保存</button>
            <button @click="isShow=false">取消</button>

        </div>
    </div>
    
</body>
<script src="js/vue.min.js"></script>
<script>
        let vue=new Vue({
            el:"#box",
            data:{
                isShow:false,
                goods:[{name:"电脑",price:5999,num:1},
                    {name:"手机",price:3000,num:1},
                    {name:"散热架",price:54,num:20},
                    ],
                newname:"",
                newprice:0,
                updataIndex:-1
                },
            computed:{
                result:function(){
                    let total=0
                    // console.log(total)
                    for(let i in this.goods){
                        let g=this.goods[i]
                        total=(g.price*g.num)+total;
                        // console.log(g.price)
                        // console.log(total)
                    }
                    // console.log(typeof(total))
                    return total
                }
            },
            methods:{
                delFun:function(i){
                    console.log(i);
                    let r=confirm("您确定要删除吗")
                    if(r==true){
                        this.goods.splice(i,1)
                    }
                },
                updataFun:function(i){
                    this.isShow=true
                    this.updataIndex =i
                },
                saveUpdata:function(){
                    this.goods[this.updataIndex].name = this.newname
                    this.goods[this.updataIndex].price = this.newprice
                    this.isShow=false
                }
            }

        })
</script>
</html>